.header {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header__h1:hover {
  cursor: pointer;
}

.header__button {
  background-color: transparent;
  border: none;
}

.menu-modal {
  background-color: inherit;
  border-radius: 0 0 0 5px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  height: 150px;
  justify-content: space-between;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 10vh;
  width: 50%;
  z-index: 100;
}

.navbar {
  display: none;
  font-weight: 700;
  gap: 1.2rem;
  justify-content: space-between;
}

.navbar a {
  color: inherit;
}

.menu-modal__theme-button {
  background-color: transparent;
  border: none;
  height: 16px;
  margin: 0 auto 10px;
  width: 16px;
}

.menu-modal__theme-button:hover {
  cursor: pointer;
}

.dark .navbar a.active {
  color: #b1b1b1;
}

.light .navbar a.active {
  color: #818181;
}

.dark .menu-modal a.active {
  color: #b1b1b1;
}

.light .menu-modal a.active {
  color: #818181;
}

@media (min-width: 640px) {
  .header__button {
    display: none;
  }

  .navbar {
    display: flex;
  }

  .menu-modal {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    height: 12vh;
  }

  .header {
    font-size: 1.3rem;
  }

  .menu-modal__theme-button {
    height: 25px;
    width: 25px;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 12vh;
  }

  .header__h1 {
    font-size: 2.5rem;
  }

  .header {
    font-size: 1.4rem;
  }

  .menu-modal__theme-button {
    height: 25px;
    margin-top: 4px;
    width: 25px;
  }

  .navbar {
    gap: 1.4rem;
  }
}
